/* Fonts */

* {
    font-family: 'Source Code Pro', monospace;
    font-size: xx-large;
    color: rgb(255, 255, 255);
}

p {
    text-shadow: 2px 2px rgba(65, 65, 65, 0.829);
    font-size: 70%;
}

/* -------------------- */

/* General Page Layout */

html {
    scroll-behavior: smooth;
    transition: .5s;

}

body {
    text-align: center;
    justify-content: center;
    background: url(./images/background.jpg) no-repeat fixed;
}

/* -------------------- */

/* Header Section */

.planet-brown {
    display: none;
}

.planet-yellow {
    display: none;
}

header h1 {
    font-size: 75%;
    text-shadow: 2px 2px 2px black;
    margin: 0 0;
}

header h5 {
    display: none;
}

header {
    background: rgb(146, 146, 146);
    margin: 0 auto;
    padding: 25px 25px;
    text-align: left;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: none;
}

.mobile-menu {
    background: white;
    box-shadow: 2px 2px 2px gray;
    position: fixed;
    right: 0;
    top: 200px;
    width: 55vw;
    height: 25vh;
    margin-top: -3em;
    text-align: center;
    border-bottom-left-radius: 15px;
    display: none;
}

.mobile-menu a {
    color: black;
    text-decoration: none;
    font-size: 70%;
    text-shadow: 2px 2px 2px rgb(77, 77, 77);
}

.mobile-menu ul li:nth-child(even) {
    background: rgb(202, 202, 202);
    border-radius: 5px;
}

.mobile-menu ul {
    text-transform: uppercase;
    text-align: center;
    margin: 0 15px;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.close-menu {
    position: absolute;
    bottom: -15px;
    height: 30px;
    width: auto;
    cursor: pointer;
    transition: .5s;
}

.close-menu:hover {
    transform: scale(1.3) rotate(180deg);
    transition: .5s;
}

.planet-yellow {
    display: none;
}

.planet-brown {
    display: none;
}

/* -------------------- */


/* Navigation */

nav {
    display: none;
}

.menu {
    margin-top: 15px;
    height: 36px;
    width: 36px;
    display: inline;
    transition: .2s;
}

.menu:hover {
    filter: invert(1);
    transition: .2s;
    cursor: pointer;
}

.mobile-logo {
    display: block;
    height: auto;
    width: 70vw;
    margin: 70px auto 25px auto;
}


/* -------------------- */


/* About Section */

.about {
    border-bottom: solid rgba(255, 255, 255, 0.4) 2px ;
}

.about h1 {
    display: block;
    margin: 25px auto;
    padding: 0;
    font-weight: bold;
    letter-spacing: 3px;
    background: none;
    color: white;
    border-radius: 45px;
    text-shadow: 2px 2px 2px gray;
    transition: .2s;
}

.about p {
    display: inline-block;
    width: 80vw;
}

.about-img {
    border: solid white 5px;
    border-radius: 80px;
    margin: 25px auto;
    height: auto;
    width: 80vw;
    transition: .2s;
}

/* -------------------- */


/* Meet the Hosts Section */

.mth {
    border-bottom: solid rgba(255, 255, 255, 0.4) 2px ;
}

.mth h1 {
    display: inline-block;
    margin: 25px auto;
    padding: 0;
    font-weight: bold;
    letter-spacing: 3px;
    color: white;
    background: none;
    border-radius: 45px;
    transition: .2s;
    text-shadow: 2px 2px 2px gray;

}

.mth p {
    width: 70vw;
    margin: 25px auto;
    padding-bottom: 15px;
}

.headshot-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.head-flex {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.head-flex h2 {
    color: black;
    background: white;
    margin: 5px auto;
    padding: 15px;
    border-radius: 45px;
    width: 250px;
}

.head-flex p {
    margin: 20 45px;
}

.headshot {
    display: block;
    margin: 35px auto 20px auto;
    width: 35vw;
    height: auto;
    border-radius: 50px;
    border: solid white 8px;
    transition: .4s;
}


/* -------------------- */


/* Listen Now Section */

.listen {
    border-bottom: solid rgba(255, 255, 255, 0.4) 2px ;
}

.listen h1 {
    display: inline-block;
    margin: 25px auto;
    padding: 0;
    font-weight: bold;
    letter-spacing: 3px;
    color: white;
    background: none;
    border-radius: 45px;
    transition: .2s;
    text-shadow: 2px 2px 2px gray;
}

.listen p {
    margin: 25px auto;
    width: 70vw;
}

.listen-flex p a {
    color: rgb(163, 57, 163);
}


.listen-flex {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px auto;
}

.badge {
    width: 125px;
    height: 30px;
    box-shadow: 2px 2px 2px gray;
    border: solid 2px white;
    border-radius: 15px;
}

.listen-grid {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    gap: 10px;
    margin: 25px auto 25px auto;
}

.hide-overflow{
    overflow-x: hidden;
}

.ship {
    height: 75px;
    width: auto;
    animation-name: float;
    animation-duration: 11s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* -------------------- */




/* Footer Section */

footer {
    background: rgba(255, 255, 255, 0.438);
    color: white;
    margin: 0 0 0 0;
    padding: 25px;
}

footer h3 {
    margin: 0;
}


/* -------------------- */


/* Back to top button */
.btt {
    background: white;
    border-radius: 15px;
    padding: 6px 7px;
    color: black;
    font-size: medium;
    margin: 20px 0 0 0;
    box-shadow: 1px 1px 1px black;
    transition: 0.4s;
}

.btt:hover {
    background: black;
    color: white;
    border: solid white 2px ;
    transform: scale(1.5);
    transition: 0.4s;
}

.icon-flex {
    display: block;
    margin-top: 15px;
}

.icon {
    display: inline-block;
    margin: 10px 10px;
    height: 50px;
    width: 50px;
    border: solid white 2px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px black;
    transition: .4s;
}

.icon:hover {
    filter: invert(1);
    transition: .4s;
    border: solid black 2px;
    box-shadow: 2px 2px 2px white;

}


footer p {
    font-size: small;
}
/* -------------------- */

/* Media Queries */

@media (min-width: 1200px) {
    
    p {
        font-size: 85%;
    }

    /* Header section */

    header {
        background: none;
        text-align: center;
        position: relative;
        display: block;

    }

    header h1 {
        font-size: 2em;
        margin: 50px 0 0 0;
    }

    header h5 {
        margin: 0 0 50px 0;
        font-size: small;
        display: inline-block;
    }

    .menu {
        display: none;
    }

    .mobile-logo{
        display: none;
    }

    .logo{
        display: block;
        width: 300px;
        height: 300px;
        margin: 0 auto 50px auto;
        transition: .5s;
    }

    /* -------------------- */

    /* Nav Section */

    nav {
        display: block;
        width: auto;
        border-bottom: solid rgba(255, 255, 255, 0.4) 2px ;
    }

    a {
        text-decoration: none;
        color: black;
    
    }
    
    nav ul {
        background: rgba(255, 255, 255, 0.418);
        padding: 45px 0;
        margin: 0 0 50px 0;
        color: black;
    }
    
    nav ul li {
        display: inline-block;
        transition: .2s;
    }
    
    nav ul li:hover {
        /* transform: scale(1.07); */
        transition: .2s;
    }
    
    nav ul li a {
        text-decoration: none;
        list-style-type: none;
        font-weight: bold;
        letter-spacing: 3px;
        color: black;
        background: white;
        border-radius: 35px;
        margin: 0px 6px;
        padding: 7px 15px;
        box-shadow: 2px 2px 2px black;
        border: solid white 2px;
        transition: .5s;
    }
    
    nav ul li a:hover {
        color: white;
        background: rgb(0, 0, 0);
        transition: .2s;
    }
    
    /* -------------------- */

    /* about section */

    .about h1 {
        display: inline-block;
        margin: 45px 25px;
        padding: 30px 200px;
        font-weight: 600;
        color: black;
        background: white;
        border-radius: 45px;
        transition: .2s;
    }

    /* -------------------- */

    /* Meet the hosts section */

    .mth h1 {
        display: inline-block;
        margin: 45px 25px;
        padding: 30px 200px;
        font-weight: 600;
        color: black;
        background: white;
        border-radius: 45px;
        transition: .2s;
    }

    .headshot-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .head-flex {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .headshot {
        display: block;
        margin: 0 auto;
        width: 250px;
        height: 250px;
        border-radius: 50px;
        border: solid white 8px;
        transition: .2s;
    }

    .head-flex p {
        margin: 20 auto;
        width: 40vw;
    }

    /* -------------------- */

    /* Listen Now section */

    .listen h1 {
        display: inline-block;
        margin: 45px 25px;
        padding: 30px 200px;
        font-weight: 600;
        color: black;
        background: white;
        border-radius: 45px;
        transition: .2s;
    }

    .badge {
        width: 250px;
        height: 65px;
        box-shadow: 2px 2px 2px gray;
        border: solid 2px white;
        border-radius: 15px;
    }
    
    .listen-grid {
        display: grid;
        grid-template-columns: repeat(2, 250px);
        gap: 15px;
    }

    .planet-brown {
        display: inline;
        position: relative;
        height: 100px;
        top: -525px;
        right: -625px;
        width: auto;
        animation: spin 105s infinite linear;
    }

    .planet-yellow {
        display: inline;
        position: relative;
        height: 175px;
        top: -650px;
        left: -500px;
        width: auto;
        animation: rock 30s infinite linear;

    }

    /* -------------------- */

}

@media (min-width: 1490px) {

    p {
        font-size: 100%;
    }

    /* Header section */

    header h1 {
        margin: 15px 0 0 0;
    }

    header h5 {
        margin-bottom: 5px;
    }

    .logo {
        width: 450px;
        height: 450px;
        margin-bottom: 0px;
        transition: .5s;
    }

    .planet-brown {
        display: inline;
        position: relative;
        height: 200px;
        top: -600px;
        right: -750px;
        width: auto;
        animation: spin 95s infinite linear;
    }

    .planet-yellow {
        display: inline;
        position: relative;
        height: 200px;
        top: -750px;
        left: -610px;
        width: auto;
        animation: rock 28s infinite linear;

    }

    /* -------------------- */

    /* Nav Section */

    nav ul li a {
        text-decoration: none;
        list-style-type: none;
        font-weight: bold;
        letter-spacing: 3px;
        color: black;
        background: white;
        border-radius: 35px;
        margin: 0px 50px;
        padding: 15px 30px;
        box-shadow: 2px 2px 2px black;
        transition: .5s;
        border: solid white 2px;
    
    }

    /* -------------------- */

    /* section headings */

    .about h1 {
        display: inline-block;
        margin: 45px 25px;
        padding: 45px 300px;
        font-weight: bold;
        letter-spacing: 3px;
        color: black;
        background: white;
        border-radius: 45px;
        transition: .2s;
    }
    .mth h1 {
        display: inline-block;
        margin: 45px 25px;
        padding: 45px 300px;
        font-weight: bold;
        letter-spacing: 3px;
        color: black;
        background: white;
        border-radius: 45px;
        transition: .2s;
    }
    .listen h1 {
        display: inline-block;
        margin: 45px 25px;
        padding: 45px 300px;
        font-weight: bold;
        letter-spacing: 3px;
        color: black;
        background: white;
        border-radius: 45px;
        transition: .2s;
    }

    /* Listen now section */

    .listen-flex {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 25px;
    }
    
    .badge {
        width: 250px;
        height: 65px;
        box-shadow: 2px 2px 2px gray;
        border: solid 2px white;
        border-radius: 15px;
    }
    
    .listen-grid {
        display: grid;
        grid-template-columns: repeat(2, 250px);
        gap: 15px;
    }

    .listen-flex p {
        width: 400px;
        margin: auto 10px;
        color: white;
    }



    /* -------------------- */

}

/* Keyframes */

@keyframes float {
    from{ transform: translateX(-1100px);}
    to{ transform: translatex(1200px);}
}

@keyframes spin {
    from{ transform: rotate(0deg);}
    to{ transform: rotate(-359deg);}
}

@keyframes rock {
    50% { transform: rotate(15deg);}
}